---
import axios from "axios";
import Layout from "../../layouts/Layout.astro";

const response = await axios.get("/api/vehicles");
const data = response.data;

console.log(data);


---

<Layout title="Corolla" theme_color="#EB0A1E" image='https://i.imgur.com/AabFmC0.png'>
  <p>corola</p>
</Layout> 