---
import ModelosList from "../components/ModelosList";
import Layout from "../layouts/Layout.astro";
import '../assets/styles/tailwind.css';
---

<Layout title="Modelos" theme_color="#EB0A1E" image="https://i.imgur.com/AabFmC0.png">
  <section class=section">
    <h1>Modelos</hjson>
    <p>En esta sección encontrarás los modelos de coches que tenemos disponibles en nuestro concesionario.</p>
    <ModelosList client:load />
  </section>
</Layout>