---
import NoticiaList from "../components/NoticiasList.jsx";
import Layout from "../layouts/Layout.astro";

import '../assets/styles/tailwind.css';

const API_URL = 'https://panelweb.derkayvargas.com/api/entradas/';  // URL de la API

async function fetchNoticias() {
  try {
    const response = await fetch(API_URL);
    if (!response.ok) {
      throw new Error('Error al obtener noticias');
    }
    const data = await response.json();
    return data;
  } catch (error) {
    console.error('Error fetching data:', error);
    return { data: [] }; // Retorna un array vacío en caso de error
  }
}

// Simulación de categorías
const categorias = [
  { id: 1, name: 'Novedades' },
  { id: 2, name: 'Servicios y Accesorios' },
  { id: 3, name: 'RSE' },
  { id: 4, name: 'Club Toyota' },
  { id: 5, name: 'ESG Ambiental' },
  { id: 6, name: 'ESG Gobernanza' },
  { id: 7, name: 'ESG Social' }
];

// Llamar a la API para obtener noticias
const noticiasData = await fetchNoticias();
const noticias = noticiasData.data || [];
---

<Layout title="Noticias | Derka y Vargas">
  <main class="main">
    <NoticiaList client:load noticias={noticias} categorias={categorias} />
  </main>
</Layout>
