---
import Layout from "../layouts/Layout.astro";
import SliderComponent from "../components/Slider.astro";

---

<Layout title="Slider">
  <h1>Slider Principal</h1>
  <SliderComponent groupId={9} />
</Layout>

<style>
  h1 {
    margin: 2rem 0 1rem;
    text-align: center;
  }
</style>
