---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Toyota Plan | Derka y Vargas">
    <!--======================= SCROLL-ARROW =======================-->
		<button class="scroll-arrow">
            <img class="scroll-arrow__img" src="images/arrow-scroll.svg" alt="arrow" />
        </button>
        <section class="section">
            <div class="home__container">
                <div class="home__data">
                    <h1 class="home__title">Toyota Plan</h1>
                    <p class="home__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                    <a href="#services" class="button button--flex">
                        More Info
                        <i class="ri-arrow-down-s-line button__icon"></i>
                    </a>
                </div>
                <img src="images/home.png" alt="home" class="home__img" />
            </div>
        </section>
</Layout>