---
import Layout from '../layouts/Layout.astro';

import Slider from '../components/SliderToyotaPlan';


import '../assets/styles/swiper.css'
---

<Layout title="Toyota Plan | Derka y Vargas">
    <!--======================= SCROLL-ARROW =======================-->
    <main class="main">
        <section class="home" id="home">
            <Slider client:load/>
          </section>
    </main>
</Layout>



