---
import Layout from '../layouts/Layout.astro';

import '../assets/styles/swiper.css'


import UsadosForm from '../components/UsadosForm';
import TestDriveForm from '../components/TestDriveForm';
import SwiperNews from '../components/SwiperNews';
import Form from '../components/Form.jsx';



---

<Layout title="Toyota Plan | Derka y Vargas" theme_color="#EB0A1E" image='https://i.imgur.com/AabFmC0.png'>
    <!--======================= SCROLL-ARROW =======================-->
    <main class="main">
        <section class="home section" id="home">
            <TestDriveForm client:load/>
            <UsadosForm client:load/>
            <SwiperNews client:load/>
            <h1>
                Contacto
            </h1>
            <div class="container mx-auto max-w-max mt-10">
                <Form tipo="contacto" client:load/> 
            </div>
            <h1>
                Toyota Plan
            </h1>  
            <div class="container mx-auto max-w-max mt-10">
                <Form tipo="tpa" client:load/> 
            </div>
            <h1>
                Financiacion    
            </h1>
            <div class="container mx-auto max-w-max mt-10">
                <Form tipo="financiacion" client:load/>
            </div>
            <h1>
                La voz del cliente
            </h1>
            <div class="container mx-auto max-w-max mt-10">
                <Form tipo="la_voz_del_cliente" client:load/>
            </div> 
            <h1>
                Usados
            </h1>  
            <div class="container mx-auto max-w-max mt-10">
                <Form tipo="usados" client:load/>
            </div>
            <h1>
                Usados con slug
            </h1>  
            <div class="container mx-auto max-w-max mt-10">
                <Form tipo="usados" slug='chevrolet-onix-12-ls-blanco' client:load/>
            </div>     
          </section>
    </main>
</Layout>



