---
import Layout from '../layouts/Layout.astro';

import '../assets/styles/swiper.css'


import UsadosForm from '../components/UsadosForm';
import TestDriveForm from '../components/TestDriveForm';
import SwiperNews from '../components/SwiperNews';
import Slider from '../components/SliderToyotaPlan';


---

<Layout title="Toyota Plan | Derka y Vargas">
    <!--======================= SCROLL-ARROW =======================-->
    <main class="main">
        <section class="home section" id="home">
            <TestDriveForm client:load/>
            <UsadosForm client:load/>
            <SwiperNews client:load/>
            <Slider client:load/>
          </section>
    </main>
</Layout>



