---
import Layout from '../layouts/Layout.astro';

import '../assets/styles/swiper.css'


import UsadosForm from '../components/UsadosForm';
import TestDriveForm from '../components/TestDriveForm';
import SwiperNews from '../components/SwiperNews';
import Form from '../components/Form';



---

<Layout title="Toyota Plan | Derka y Vargas" theme_color="#EB0A1E" image='https://i.imgur.com/AabFmC0.png'>
    <!--======================= SCROLL-ARROW =======================-->
    <main class="main">
        <section class="home section" id="home">
            <TestDriveForm client:load/>
            <UsadosForm client:load/>
            <SwiperNews client:load/>
            <Form type="contacto" client:load/>
          </section>
    </main>
</Layout>



