---
import UsadosList from '../components/UsadosList.jsx';
import Layout from '../layouts/Layout.astro';

import '../assets/styles/tailwind.css';
---
<Layout title="Usados | Derka y Vargas" theme_color="#EB0A1E">
    <main class="main">
        <UsadosList client:load />
    </main>
</Layout>