---
interface Props {
    currentModel: string;
}
const { currentModel } = Astro.props;
---

<div class="lg:w-1/2 flex justify-between items-start">
    <div class="max-w-xl mx-auto">
      
      <div id="tab-info" class="border-b border-gray-200">
        <ul  class="flex justify-center space-x-4" role="tablist">
          <li>
            <button
              id="manual-xs-tab"
              class="px-4 py-2 border-b-2 font-medium text-sm text-red-600 border-red-500 transition-colors duration-300 ease-in-out"
              
            >
              XS 1.5 6M/T 5P
            </button>
          </li>
          <li>
            <button
              id="automatico-xs-tab"
              class="px-4 py-2 border-b-2 font-medium text-sm text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300 transition-colors duration-300 ease-in-out"
              
            >
              XS 1.5 CVT 5P
            </button>
          </li>
          <li>
            <button
              id="manual-xls-tab"
              class="px-4 py-2 border-b-2 font-medium text-sm text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300 transition-colors duration-300 ease-in-out"
              
            >
              XLS 1.5 6M/T 5P
            </button>
          </li>
          <li>
            <button
              id="automatico-xls-tab"
              class="px-4 py-2 border-b-2 font-medium text-sm text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300 transition-colors duration-300 ease-in-out"
             
            >
              XLS 1.5 CVT 5P
            </button>
          </li>
          <li>
            <button
              id="automatico-xls-pack-tab"
              class="px-4 py-2 border-b-2 font-medium text-sm text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300 transition-colors duration-300 ease-in-out"
              
            >
              XLS PACK 1.5 CVT 5P
            </button>
          </li>
          <li>
            <button
              id="automatico-s-tab"
              class="px-4 py-2 border-b-2 font-medium text-sm text-gray-500 border-transparent hover:text-gray-700 hover:border-gray-300 transition-colors duration-300 ease-in-out"
              
            >
              S 1.5 CVT 5P
            </button>
          </li>
        </ul>
      </div>
  
      
      <div id="manual" class="tab-content active fade show">
        <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 space-y-2">
          <li>Motor 1,5 litros de 4 cilindros y 16 válvulas con Regulación Variable de Válvulas con Inteligencia 13,0 con 107 CV de potencia máxima</li>
          <li>Manual de 6 velocidades</li>
          <li>Espejos exteriores con regulación eléctrica y luz de de giro incorporada</li>
          <li>Luces de circulación diurnas de LED (DRL)</li>
          <li>Ópticas delanteras halógenas con regulación en altura</li>
          <li>Llantas de acero de 15”</li>
          <li>Levanta cristales eléctricos con función “One Touch” - conductor</li>
          <li>Computadora de abordo</li>
          <li>Volante con control de audio, display de información múltiple y teléfono</li>
          <li>Audio con pantalla táctil LCD de 6.8” y USB (en consola central)</li>
          <li>Conectividad: Apple Car Play® & Android Auto®</li>
          <li>Control de estabilidad (VSC), control de tracción (TRC) y asistente de arranque en pendientes (HAC)</li>
          <li>Faros antiniebla traseros</li>
          <li>7 airbags: frontales (x2), de rodilla (conductor), laterales (x2) y de cortina (x2)</li>
        </ul>
      </div>

      <div id="automatico" class="tab-content fade">
        <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
          <li>Motor 1,5 litros de 4 cilindros y 16 válvulas con Regulación Variable de Válvulas con Inteligencia 13,0 con 107 CV de potencia máxima</li>
          <li>Incluye funciones selectas XS MT, más:
            <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
              <li>
                Caja automática CVT de 7 velocidades
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="manual-xls" class="tab-content fade">
        <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 space-y-2">
          <li>Motor 1,5 litros de 4 cilindros y 16 válvulas con Regulación Variable de Válvulas con Inteligencia 13,0 con 107 CV de potencia máxima</li>
          <li>Incluye funciones selectas XS MT mas:
            <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
              <li>Espejos exteriores retráctiles eléctricamente</li>
              <li>Ópticas delanteras halógenas con regulación en altura y proyector</li>
              <li>Ópticas traseras LED</li>
              <li>Llantas de aleación de 15”</li>
              <li>Aire acondicionado con climatizador automático digital</li>
              <li>Espejo retrovisor interno con anti-encandilamiento automático</li>
              <li>Levanta cristales eléctricos con función “One Touch” - 4 puertas</li>
              <li>Monitor con cámara de estacionamiento</li>
              <li>Faros antiniebla delanteros</li>
              <li>Sensores de estacionamiento frontales y traseros</li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="automatico-xls" class="tab-content fade">
        <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
          <li>Motor 1,5 litros de 4 cilindros y 16 válvulas con Regulación Variable de Válvulas con Inteligencia 13,0 con 107 CV de potencia máxima</li>
          <li> Incluye funciones selectas XLS MT, más:
            <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
              <li>Caja automática CVT de 7 velocidades</li>
              <li>Control de velocidad crucero</li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="automatico-xls-pack" class="tab-content fade">
        <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
          <li>Motor 1,5 litros de 4 cilindros y 16 válvulas con Regulación Variable de Válvulas con Inteligencia 13,0 con 107 CV de potencia máxima</li>
          <li>Incluye funciones selectas XLS CVT, más:
            <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
                <li>Llantas de aleación de 16”</li>
                <li>Asientos con tapizado de cuero ecológico</li>
                <li>Paddle Shifts (levas al volante)</li>
                <li>Display de información múltiple de 4,2”</li>
                <li>Toyota Safety Sense*:</li>
                <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
                    <li>Sistema de pre-colisión frontal (PCS)*</li>
                    <li>Sistema de alerta de cambio de carril (LDA)*</li>
                </ul>
            </ul>
            *Toyota Safety Sense integra diferentes sistemas de seguridad activa que pueden variar según cada modelo y/o versión. A su vez, estos sistemas están diseñados para asistir al conductor, no para sustituirlo. El conductor debe mantener en todo momento el control de su vehículo y es responsable de su conducción, por cuanto este sistema no reemplaza la conducción segura. El correcto funcionamiento del Toyota Safety Sense depende de muchos factores incluyendo las condiciones del camino, el clima y el vehículo, razón por la cual el/los sistemas podrán verse afectados u obstaculizados debido a factores externos, no siendo Toyota Argentina S.A. responsable de las consecuencias derivadas del uso del sistema. Para más información sobre Toyota Safety Sense consulte el manual de usuario.
          </li>
        </ul>
      </div>

      <div id="automatico-s" class="tab-content fade">
        <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
          <li>Motor 1,5 litros de 4 cilindros y 16 válvulas con Regulación Variable de Válvulas con Inteligencia 13,0 con 107 CV de potencia máxima</li>
          <li>Integra funciones selectas XLS Pack CVT, más:
            <ul class="list-disc lg:text-xs xl:text-xs 2xl:text-base ml-5 mb-5 space-y-2">
                <li>Ópticas delanteras LED con regulación en altura</li>
                <li>Techo solar eléctrico</li>
                <li>Manijas exteriores cromadas</li>
                <li>Sistema de encendido por botón (Push Start Button) y Sistema de ingreso inteligente (Smart Entry System)</li>
            </ul>
            *Toyota Safety Sense integra diferentes sistemas de seguridad activa que pueden variar según cada modelo y/o versión. A su vez, estos sistemas están diseñados para asistir al conductor, no para sustituirlo. El conductor debe mantener en todo momento el control de su vehículo y es responsable de su conducción, por cuanto este sistema no reemplaza la conducción segura. El correcto funcionamiento del Toyota Safety Sense depende de muchos factores incluyendo las condiciones del camino, el clima y el vehículo, razón por la cual el/los sistemas podrán verse afectados u obstaculizados debido a factores externos, no siendo Toyota Argentina S.A. responsable de las consecuencias derivadas del uso del sistema. Para más información sobre Toyota Safety Sense consulte el manual de usuario.
            </li>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <style>
    /*Tabs Especificaciones*/

    .tab-content {
    display: none;
    }

    .tab-content.active {
    display: block;
    }

    /* Transición de contenido */
    .fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    }

    .fade.show {
    opacity: 1;
    }
  </style>

  <script is:inline define:vars={{ currentModel }}>

    let currentModelAux = currentModel;
    //Tabs de las especificaciones
    function openTab(tabName) {
      let i,tabcontent, tablinks;
      
      // Ocultar todo el contenido de las tabs
      tabcontent = document.getElementsByClassName("tab-content");
      for (i = 0; i < tabcontent.length; i++) {
        if (tabcontent[i].id !== tabName) {
            tabcontent[i].classList.remove("show");
          tabcontent[i].classList.remove("active");
        } else if (tabcontent[i].id === tabName) {
          tabcontent[i].classList.add("show");
          tabcontent[i].classList.add("active");
        }
      }
      // Remover la clase 'active' de todos los botones de tabs
      tablinks = document.querySelectorAll("button");
      tablinks.forEach(function (tablink) {
      tablink.classList.remove("text-red-600", "border-red-500");
      tablink.classList.add("text-gray-500", "border-transparent");
      });
      
      // Mostrar la tab actual y agregar clase 'active'
      const element = document.getElementById(tabName);
      if (element) {
        element.classList.add("show", "active");
      }
            
      // Aplicar la clase 'active' al botón de la tab actual
      if (tabName === 'automatico') {
        const automaticoXsTab = document.getElementById("automatico-xs-tab");
        if (automaticoXsTab) {
          automaticoXsTab.classList.add("text-red-600", "border-red-500");
          automaticoXsTab.classList.remove("text-gray-500", "border-transparent");   
        }
      } else if (tabName === 'manual') {
        const manualXsTab = document.getElementById("manual-xs-tab");
        if (manualXsTab) {
          manualXsTab.classList.add("text-red-600", "border-red-500");
          manualXsTab.classList.remove("text-gray-500", "border-transparent");
        }
      } else if (tabName === 'automatico-xls') {
        const automaticoXlsTab = document.getElementById("automatico-xls-tab");
        if (automaticoXlsTab) {
          automaticoXlsTab.classList.add("text-red-600", "border-red-500");
          automaticoXlsTab.classList.remove("text-gray-500", "border-transparent");
        }
      } else if (tabName === 'manual-xls') {
        const manualXlsTab = document.getElementById("manual-xls-tab");
        if (manualXlsTab) {
          manualXlsTab.classList.add("text-red-600", "border-red-500");
          manualXlsTab.classList.remove("text-gray-500", "border-transparent");
        }
      } else if (tabName === 'automatico-xls-pack') {
        const automaticoXlsPackTab = document.getElementById("automatico-xls-pack-tab");
        if (automaticoXlsPackTab) {
          automaticoXlsPackTab.classList.add("text-red-600", "border-red-500");
          automaticoXlsPackTab.classList.remove("text-gray-500", "border-transparent");
        }
      } else if (tabName === 'automatico-s') {
        const automaticoS = document.getElementById("automatico-s-tab");
        if (automaticoS) {
          automaticoS.classList.add("text-red-600", "border-red-500");
          automaticoS.classList.remove("text-gray-500", "border-transparent");
        }
      }
    }
      
    // Asociar eventos a los botones al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
      
      const automaticoXsTab = document.getElementById("automatico-xs-tab");
      if (automaticoXsTab) {
        automaticoXsTab.addEventListener("click", function () {
          openTab('automatico');
        });
      }
             
            
      const manualXsTab = document.getElementById("manual-xs-tab");
      if (manualXsTab) {
        manualXsTab.addEventListener("click", function () {
          openTab('manual');
        });
      }
      
      const automaticoXlsTab = document.getElementById("automatico-xls-tab");
      if (automaticoXlsTab) {
        automaticoXlsTab.addEventListener("click", function () {
          openTab('automatico-xls');
        });
      }
      
      const manualXlsTab = document.getElementById("manual-xls-tab");
      if (manualXlsTab) {
        manualXlsTab.addEventListener("click", function () {
          openTab('manual-xls');
        });
      }
      
      const automaticoXlsPackTab = document.getElementById("automatico-xls-pack-tab");
      if (automaticoXlsPackTab) {
        automaticoXlsPackTab.addEventListener("click", function () {
          openTab('automatico-xls-pack');
        });
      }
      
      const automaticoS = document.getElementById("automatico-s-tab");
      if (automaticoS) {
        automaticoS.addEventListener("click", function () {
          openTab('automatico-s');
        });
      }
    });
          
  </script>