---
import Image from "astro/components/Image.astro"
import logo from "../assets/images/logodyv.webp"
---

<footer class="bg-gray-100">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                  <!--<Image src={logo} alt="logo" class="w-auto h-16" /> -->
                  <img src={logo.src} alt="logo" class="w-auto h-16" loading="lazy" decoding="async"/>
                  <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap ">Flowbite</span>--->
              </a>
              <p class="text-base mt-5 max-w-sm text-gray-500">
                Concesionario Oficial Toyota en el Chaco. Venta de vehículos 0km y usados, servicio técnico, repuestos y accesorios originales.
              </p>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
              <div>
                  <h2 class="mb-6 text-xl font-semibold text-gray-900 uppercase ">Vehículos</h2>
                  <ul class="text-gray-500 font-medium space-y-4">
                        <li>
                            <a href="/modelos" class="text-lg hover:underline">Modelos</a>
                        </li>
                        <li>
                            <a href="/usados" class="text-lg hover:underline">Usados</a>
                        </li>
                        <li>
                            <a href="/kinto" class="text-lg hover:underline">Kinto</a>
                        </li>
                  </ul>
              </div>
              <div>
                <h2 class="mb-6 text-xl font-semibold text-gray-900 uppercase ">Posventa</h2>
                <ul class="text-gray-500 font-medium space-y-4">
                    <li>
                        <a href="Servicio" class="text-lg hover:underline">Servicio</a>
                    </li>
                    <li>
                        <a href="/accesorios" class="text-lg hover:underline">Repuestos y Accesorios</a>
                    </li>
                    <li>
                        <a href="https://www.toyota.com.ar/mi-toyota/llamado-a-revision-tecnica" class="text-lg hover:underline">Recall</a>
                    </li>
                    <li>
                        <a href="https://www.toyota.com.ar/club-toyota" class="text-lg hover:underline">Club Toyota</a>
                    </li>
                </ul>
            </div>
              <div>
                  <h2 class="mb-6 text-xl font-semibold text-gray-900 uppercase ">Financiación</h2>
                  <ul class="text-gray-500 font-medium space-y-4">
                        <li>
                            <a href="/toyota-plan" class="text-lg hover:underline ">Toyota Plan</a>
                        </li>
                        <li>
                            <a href="/financiacion" class="text-lg hover:underline">Compañia Financiera</a>
                        </li>
                        <li>
                            <a href="/seguros" class="text-lg hover:underline">Seguros</a>
                        </li>
                        <li>
                            <a href="https://dyv.e.toyota.com.ar/inventory" class="text-lg hover:underline">Cotizar Online</a>
                        </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-xl font-semibold text-gray-900 uppercase ">Sucursales</h2>
                  <ul class="text-gray-500 font-medium space-y-4">
                      <li>
                          <a href="#" class="text-lg hover:underline">Casa Central</a>
                      </li>
                      <li>
                          <a href="#" class="text-lg hover:underline">Resistencia</a>
                      </li>
                      <li>
                        <a href="#" class="text-lg hover:underline">Charata</a>
                    </li>
                    <li>
                        <a href="#" class="text-lg hover:underline">Villa Ángela</a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center">© 2024 <a href="https://flowbite.com/" class="inline-block hover:underline">Todos los derecos reservados</a>
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a href="https://www.facebook.com/derkayvargas" class="text-gray-500 hover:text-gray-900">
                <i class="ri-facebook-line"></i>
                <span class="sr-only">Facebook</span>
              </a>
              
              <a href="https://www.instagram.com/toyotaderkayvargas/" class="text-gray-500 hover:text-gray-900 ms-5">
                <i class="ri-instagram-line"></i>
                  <span class="sr-only">Instagram</span>
              </a>
          </div>
      </div>
    </div>
</footer>
