---
import AutoDetalles from '../../components/autoDetalle.jsx';
import Layout from '../../layouts/Layout.astro';

// Obtener el parámetro dinámico (slug) desde la URL
const { slug } = Astro.params;
---
<Layout title="Usados | Derka y Vargas">
    <main class="main">
        <section class="container mx-auto section">
            <AutoDetalles client:load slug={slug} />
        </section>
    </main>
</Layout>